### Modulo 4 // Ejercicio 1
Estandaritza, identifica i enumera cada un dels atributs / variables de l'estructura de l'arxiu "Web_access_log-akumenius.com" que trobar√†s al repositori de GitHub "Data-sources".

In [219]:
#We are going to import the libraries that we need and our file, with one sinlge column for the moment.

import re
import pandas as pd
pd.set_option('display.max_colwidth', None)
df = pd.read_csv('Web_access_log-akumenius.com.txt',names=["unica_columna"])
df.sample(5)

                                                                                                                                                                                                                                                                                         unica_columna
40992                            www.akumenius.com 66.249.76.216 - - [24/Feb/2014:00:20:32 +0100] "GET /destinos-baratos/destinosEstrelles/hoteles-en-Lappeenranta_FINLANDIA-con-4-estrellas HTTP/1.1" 200 10031 "-" "Mozilla/5.0 (compatible; Googlebot/2.1; +http://www.google.com/bot.html)" VLOG=-
116377               www.akumenius.com 83.47.115.241 - - [25/Feb/2014:16:11:02 +0100] "GET /modules/raton/views/themes/bcoos/images/buscadores/fondo_selhab.png HTTP/1.1" 200 624 "http://www.akumenius.com/?gclid=CLfI6_bH57wCFQUcwwodg6sAew" "Mozilla/5.0 (Windows NT 6.1) AppleWebKit/537.36 (KHTML
161492  www.akumenius.com 80.35.176.249 - - [26/Feb/2014:13:02:49 +0100] "POST /destinos-get HTTP/1.1" 200 223 "http://www.akumenius.com/" "Mozilla/4.0 (compatible; MSIE 8.0; Windows NT 5.1; Trident/4.0; .NET CLR 1.1.4322; .NET CLR 2.0.50727; .NET CLR 3.0.4506.2152; .NET CLR 3.5.30729)" VLOG=-
187853                         www.akumenius.com 188.86.154.19 - - [27/Feb/2014:10:11:10 +0100] "POST /destinos-insert HTTP/1.1" 200 26 "http://www.akumenius.com/hoteles-baratos/hoteles-todo-incluido.html?gclid=CKn2spn767wCFSgewwodOrQA3Q" "Mozilla/5.0 (Windows NT 6.0) AppleWebKit/537.36 (KHTML
208519                                                                                                                                                                 localhost 127.0.0.1 - - [27/Feb/2014:16:33:41 +0100] "OPTIONS * HTTP/1.0" 200 - "-" "Apache (internal dummy connection)" VLOG=-

In [220]:
#Lets split our column by the following patron " ", and create a dataframe.
df = df['unica_columna'].str.split(' ', expand=True)
df.sample(5)

,0,1,2,3,4,5,6,7,8,9,...,40,41,42,43,44,45,46,47,48,49
228911,www.akumenius.com,176.31.255.177,-,-,[28/Feb/2014:08:00:01,+0100],"""GET",/hotels-consulted-update,"HTTP/1.0""",200,...,None,None,None,None,None,None,None,None,None,None
231327,www.akumenius.com,62.117.197.230,-,-,[28/Feb/2014:10:19:11,+0100],"""GET",/modules/raton/views/themes/bcoos/images/pago_transferencia.png,"HTTP/1.1""",304,...,None,None,None,None,None,None,None,None,None,None
88603,www.akumenius.com,83.49.12.226,-,-,[24/Feb/2014:23:05:44,+0100],"""GET",/includes/images/uploaded/Slideshow/Fotolia_55740302_XS.jpg,"HTTP/1.1""",304,...,None,None,None,None,None,None,None,None,None,None
12691,www.akumenius.com,162.243.192.191,-,-,[23/Feb/2014:11:45:17,+0100],"""GET",/escapadas/culturales-burgos-309.html,"HTTP/1.1""",200,...,None,None,None,None,None,None,None,None,None,None
104694,www.akumenius.com,90.170.130.46,-,-,[25/Feb/2014:12:53:15,+0100],"""GET",/includes/images/uploaded/ofertas-forfait.jpg,"HTTP/1.1""",200,...,None,None,None,None,None,None,None,None,None,None

In [221]:
#By indexing our columns now we can create and define each one, to start cleaning the data.
df['web']= df[0]
df['ip']= df[1]
df['date']= df[4]
df['get']= df[6]+df[7]+df[8]
df['get'] = df['get'].str[1:-1]

#Lets clean our date column by using split and replace mode.
df[["day", "month", "year"]] = df["date"].str.split("/", expand = True)
df['day'] = df['day'].str.replace('[', " ", regex=True)
df['year'] = df['year'].replace('', "", regex=True)
df['year'] = df['year'].str[:-9]
df['hour'] = df['date'].str[13:]

df['numbers'] = df[9]
df.head()

#Notice that we use some parameters to clean our data such a regex epressions or split parameters that we can use when manipulate strings.

,0,1,2,3,4,5,6,7,8,9,...,49,web,ip,date,get,day,month,year,hour,numbers
0,localhost,127.0.0.1,-,-,[23/Feb/2014:03:10:31,+0100],"""OPTIONS",*,"HTTP/1.0""",200,...,None,localhost,127.0.0.1,[23/Feb/2014:03:10:31,OPTIONS*HTTP/1.0,23,Feb,2014,03:10:31,200
1,localhost,127.0.0.1,-,-,[23/Feb/2014:03:10:31,+0100],"""OPTIONS",*,"HTTP/1.0""",200,...,None,localhost,127.0.0.1,[23/Feb/2014:03:10:31,OPTIONS*HTTP/1.0,23,Feb,2014,03:10:31,200
2,localhost,127.0.0.1,-,-,[23/Feb/2014:03:10:31,+0100],"""OPTIONS",*,"HTTP/1.0""",200,...,None,localhost,127.0.0.1,[23/Feb/2014:03:10:31,OPTIONS*HTTP/1.0,23,Feb,2014,03:10:31,200
3,localhost,127.0.0.1,-,-,[23/Feb/2014:03:10:31,+0100],"""OPTIONS",*,"HTTP/1.0""",200,...,None,localhost,127.0.0.1,[23/Feb/2014:03:10:31,OPTIONS*HTTP/1.0,23,Feb,2014,03:10:31,200
4,localhost,127.0.0.1,-,-,[23/Feb/2014:03:10:31,+0100],"""OPTIONS",*,"HTTP/1.0""",200,...,None,localhost,127.0.0.1,[23/Feb/2014:03:10:31,OPTIONS*HTTP/1.0,23,Feb,2014,03:10:31,200

In [222]:
#Lets create a new dataframe with the new columns.

df2 = df[['web', 'ip', 'get', 'numbers', 'day', 'month', 'year', 'hour']]
df2.head()

         web         ip               get numbers  day month  year      hour
0  localhost  127.0.0.1  OPTIONS*HTTP/1.0     200   23   Feb  2014  03:10:31
1  localhost  127.0.0.1  OPTIONS*HTTP/1.0     200   23   Feb  2014  03:10:31
2  localhost  127.0.0.1  OPTIONS*HTTP/1.0     200   23   Feb  2014  03:10:31
3  localhost  127.0.0.1  OPTIONS*HTTP/1.0     200   23   Feb  2014  03:10:31
4  localhost  127.0.0.1  OPTIONS*HTTP/1.0     200   23   Feb  2014  03:10:31

In [223]:
#Creating a DataFrame with the numbers of visits depending on the ip.
visitas= df2["ip"].value_counts().rename_axis('ip').reset_index(name="visitas")
visitas.head(9)

                ip  visitas
0    66.249.76.216    46382
1    80.28.221.123    14725
2        127.0.0.1    13892
3   217.125.71.222     5201
4    66.249.75.148     3558
5  162.243.192.191     2927
6   62.117.197.230     2567
7   89.128.176.162     1093
8  198.143.133.154     1045